
:root {
    --orange-color: #f59518
}


#line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 125px;
    height: 10px; /* Épaisseur de la ligne */
    position: relative;
}

.route-default {
    background-color: black;
}

#terminated {
    text-align: center;
    margin: auto;
    font-size: 70px;
}
  
.station {
    width: 15px; /* Taille des points */
    height: 15px;
    background-color: white; /* Couleur des stations */
    border: 3px solid #000; /* Bordure noire autour */
    border-radius: 50%; /* Rond parfait */
    position: absolute;
    transform: translateX(-50%); /* Décalage pour centrer */
    left: var(--ratio);

}

.station-name {
    position: absolute;
    top: -19px; /* Distance verticale depuis le point */
    left: 8px; /* Aligne le début du texte avec la gauche */
    transform-origin: left top; /* Fait pivoter autour du point de départ */
    transform: rotate(-45deg); /* Incline le texte */
    white-space: nowrap; /* Empêche le retour à la ligne */
    text-align: left; /* Aligne le texte à gauche */
    color: black;
    font-weight: bold;
  }

.approche {
    animation: blink 1.5s infinite step-start;
}

.visited {
    background-color: white;
    box-shadow: none;

}

.not-visited-or-in-station {
    background-color: var(--orange-color);
    box-shadow: 0 0 30px var(--orange-color);
}

.main {
    margin-top: 20%;
    margin-left: 40px;
    margin-right: 40px;
    color: black;
    background-color: white;
}

.sub-div {
    display: flex;
}

.head {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.head-elt {
    margin: auto;
}

#line-id {
    font-size: 60px;
}

#vehicle-id {
    font-size: 40px;
}

#next-stop {
    font-size: 50px;
}

@keyframes blink {
    0%, 100% {
        background-color: white;
        box-shadow: none;
    }
    50% {
        background-color: var(--orange-color);
        box-shadow: 0 0 30px var(--orange-color);
    }
}

@media (max-width: 1000px) {

    #line-id {
        font-size: 30px;
    }
    
    #vehicle-id {
        font-size: 25px;
    }
    
    #next-stop {
        font-size: 20px;
    }

    #line {
        flex-direction: column;
        width: 10px;
        height: 150vh;
        margin-bottom: 40px;
    }

    .head {
        margin-top: 10px;
    }

    .station {
        top: var(--ratio);
        transform: translateY(-50%) translateX(0%);
        left: -50%;
    }

    .station-name {
        transform: rotate(0deg); /* Incline le texte */
        top: -3px; /* Distance verticale depuis le point */
        left: 20px;
    }

}